.ideaMain {
  background-color: #f9f9f9;
} 

.SiderStyle {
  width: 220px;
  box-shadow: 2px 3px 8px #EDEDED;
}

.ServiceNav {
  width: 100%;
  text-align: center;
  padding : 30px 0;
}
 
.IconBox {
  background-color: #3b2479;
  color: #fff;
  width: 100%;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
  cursor: pointer;
}

.mainStyle {
  height: 80vh;
}

.keywordDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
}

.keywordInput {
  
  border: 3px solid #3b2479;
  outline: 0;
  width: 50%;
  height: 35px;
  margin-right: 20px;
  padding: 5px;
}

.buttonStyle {
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  margin: 0;
  background: #3b2479;
  overflow: visible;
  text-transform: none;
  border: 2px solid #3b2479;
  border-radius: 18px;
  color: #fff;
  padding: 4px 22px;
  font-size: 18px;
  line-height: 24px;
  -webkit-transition-property: color,background-color,border-color,box-shadow;
  transition-property: color,background-color,border-color,box-shadow;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  font-weight: bold;
}

.buttonStyle > svg {
  fill: #fff;
  stroke: #fff;
}

.buttonStyle:hover {
  background: #7D4CDB;
  border:2px solid #7D4CDB;
}

.keywordResult {
  border: 1px solid #3b2479;
  background: transparent;
  padding: 5px 10px;
  border-radius : 5px;
}

.BlogIdeaBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top : 1px solid #ededed;
  padding: 30px 0;
}

.IdeaInput {
  border: 3px solid #7D4CDB;
  outline: 0;
  width: 48%;
  height: 35px;
  margin-right: 20px;
  padding: 5px;

}


@media screen and (max-width: 768px) {


  .SiderStyle {
    width: 100%;
    overflow: scroll;
  }

  .ServiceNav {
    padding: 0;
  }

  .mainStyle {
    justify-content: baseline;
  }
}
