.LandingPage {
  height: 100%;
  background-color: #f9f9f9;
}

.infomation, .information2 {
  height: 80vh;
}

.infomation {
  padding: 60px 30px;
}

.titleBox {
  margin-bottom : 30px;
  line-height: 45px;
}

.titleBox > h1:first-child {
  color : #3B2478;
}

.part {
  margin-bottom : 10px;
}

.information2 {
  background-color: #3B2478;

}

@media screen and (max-width: 768px) {
  .LandingPage {
    height: 100vh;
  }

  .infomation, .information2 {
    height: 100%;
  }
} 