/* .ideaMain {
    background-color: #f9f9f9;
  } 
  
  .SiderStyle {
    width: 220px;
    box-shadow: 2px 3px 8px #EDEDED;
  }
  
  .ServiceNav {
    width: 100%;
    text-align: center;
    padding : 30px 0;
  }
   
  .IconBox {
    background-color: #3b2479;
    color: #fff;
    width: 100%;
    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.95rem;
    cursor: pointer;
  }
  
  .mainStyle {
    height: 80vh;
  }
  
  .KeyContainer, .IdeaContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  
  .keywordDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 40px;
    padding: 5px 8px;
    background-color: #fff;
    transition: all 200ms ease-in-out;
    border: 3px solid #3b2479;
  }
  
  
  .keywordDiv:hover {
    border: 3px solid #55D4BC;
  } 
  
  .keywordInput, .IdeaInput {
    background-color: transparent;
    border:0;
    outline: 0;
    word-wrap: break-word;
    width: 80%;
    font-size: 0.9rem;
    
  }
  
  .keywordInput > svg {
    fill: #3b2479;
    stroke: #3b2479;
  }
  
  
  
  
  .BlogIdeaBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 40px;
    padding: 5px 8px;
    background-color: #fff;
    transition: all 200ms ease-in-out;
    border: 3px solid #7D4CDB;
  }
  
  .BlogIdeaBox:hover {
    border: 3px solid #C4FCEF;
  }
  
  
  .buttonStyle {
    background: transparent;
    text-transform: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    height: 100%;
    border-left : 1px solid #f2f2f2;
    padding-left : 5px;
  }
  
  
  .keywordResult {
    border: 1px solid #3b2479;
    background: transparent;
    padding: 5px 10px;
    border-radius : 5px;
  }
  
  
  
  
  @media screen and (max-width: 768px) {
  
  
    .SiderStyle {
      width: 100%;
      overflow: scroll;
    }
  
    .ServiceNav {
      padding: 0;
    }
  
    .mainStyle {
      justify-content: baseline;
    }
  }
  
  @media screen and (max-width: 680px){
  
    .keywordDiv, .BlogIdeaBox {
      width: 80%;
    }
  
  
  } */