@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


.ideaMain {
  background-color: #f9f9f9;
} 

.SiderStyle {
  width: 220px;
  box-shadow: 2px 3px 8px #EDEDED;
}

.ServiceNav {
  width: 100%;
  text-align: center;
  padding : 30px 0;
}
 
.IconBox {
  background-color: #3b2479;
  color: #fff;
  width: 100%;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
  cursor: pointer;
}

.mainStyle {
  height: 100vh;
  overflow:hidden;
}

.buttonStyle {
  background: transparent;
  text-transform: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  height: 100%; 
  border-left : 1px solid #f2f2f2;
  padding-left : 5px;
}

.SaveContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saveFrame {
padding: 15px 20px;
}

.saveBox {
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    border-left: 5px solid #55d4bc;
    background-color: #fff;
    font-size: 0.9em;
    padding: 10px;
}

.ideaOutput {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
  border-left: 5px solid #55d4bc;
  background-color: #fff;
  font-size: 0.9em;
}

.outputKo, .outputEn, .Btns {
  padding: 10px;
  padding: 15px 10px;  
}

.outputKo, .outputEn {
  border-right: 1px solid #ededed;
}

.Btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.save {
  border: 1px solid #55d4bc;
  background-color: #55d4bc;
  color : #fff;
  padding: 5px 10px;
  border-radius: 15px;
  cursor:pointer;
}

@media screen and (max-width: 768px) {

  .SiderStyle {
    width: 100%;
    overflow: scroll;
  }

  .keywordDiv, .BlogIdeaBox {
    width: 80%;
  }

  .ServiceNav {
    padding: 0;
  }

  .mainStyle {
    justify-content: baseline;
  }

  .resultBox {
    padding: 20px;
  }

  /* .IdeaResultBox {
    padding: 20px;
  } */

  .IdeaResultBox {
    max-height: 500px;
    overflow: scroll;
    margin-top : 20px 0;
  }
    

  .ideaOutput {
    flex-direction: column;
    border-left: 0;
    border-top: 5px solid #55d4bc;
  }

  .outputKo, .outputEn {
    border-right: 0;
    border-bottom: 1px solid #ededed;
    width: 100%;
  }

  .Btns {
    flex-direction: row;
  }
}

@media screen and (max-width: 680px){

  .keywordDiv {
    margin-top: 30px;
  }

  .keywordResult {
    font-size: 0.6em;
  }


}